<!--
  ~ /*
  ~  * Copyright 2016-2017 the original author or authors.
  ~  *
  ~  * Licensed under the Apache License, Version 2.0 (the "License");
  ~  * you may not use this file except in compliance with the License.
  ~  * You may obtain a copy of the License at
  ~  *
  ~  *      http://www.apache.org/licenses/LICENSE-2.0
  ~  *
  ~  * Unless required by applicable law or agreed to in writing, software
  ~  * distributed under the License is distributed on an "AS IS" BASIS,
  ~  * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  * See the License for the specific language governing permissions and
  ~  * limitations under the License.
  ~  */
  -->

<div class="container-fluid">
  <div class="container xd-container">

    <h2>
      Pet
    </h2>
    <form class="form-horizontal" (ngSubmit)="onSubmit(petForm.value)" #petForm="ngForm">
      <div class="form-group" hidden="true">
        <input type="text" hidden="true" class="form-control" id="id" [(ngModel)]="pet.id" name="id"/>
        <input type="text" hidden="true" class="form-control" id="owner" [(ngModel)]="pet.owner" name="owner"/>
      </div>
      <div class="form-group">
        <label for="owner" class="col-sm-2 control-label">Owner</label>
        <div class="col-sm-10">
          <input id="owner_name" name="owner_name" class="form-control" type="text"
                 value="{{ current_owner.firstName }} {{ current_owner.lastName }}" readonly/>
        </div>
      </div>
      <br/>
      <div class="form-group ">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input id="name" name="name" class="form-control" type="text" [(ngModel)]="pet.name"/>
        </div>
      </div>
      <div class="form-group ">
        <label class="col-sm-2 control-label">Birth Date</label>
        <input matInput [matDatepicker]="birthDateDatepicker" [ngModel]="pet.birthDate | date:'yyyy-MM-dd'" name="birthDate">
        <mat-datepicker-toggle matSuffix [for]="birthDateDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #birthDateDatepicker></mat-datepicker>
      </div>
      <div class="control-group">
        <div class="form-group ">
          <label for="type" class="col-sm-2 control-label">Type </label>
          <div class="col-sm-10">
            <div class="col-sm-2">
              <input id="type1" name="type1" class="form-control" type="text" value="{{ current_type.name }}" readonly/>
            </div>
            <div class="col-sm-8">
              <select id="type" name="type" class="form-control" [(ngModel)]="current_type">
                <option *ngFor="let type of pet_types"
                        [selected]="type.id == current_type.id ? true : null"
                        [ngValue]="type">{{ type.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
		<div class="form-group">
			   <label for="type" class="col-sm-2 control-label">Image </label>
			   <img width="100" height="100" [src]="imageurl" />
			   <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
			   
		</div>	
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <br/>
          <button class="btn btn-default" type="button" (click)="gotoOwnerDetail(pet.owner)">< Back</button>
		  <button type="button" class="btn btn-success btn-s" 
  (click)="uploader.uploadAll()" 
  [disabled]="!uploader.getNotUploadedItems().length" >
      Upload an Image
</button>
          <button class="btn btn-default" type="submit">Update Pet</button>
        </div>
      </div>
    </form>
  </div>
</div>
