<div class="container-fluid">
  <div class="container xd-container">
    <h2>
      New Owner
    </h2>
    <form [formGroup]="owner" (ngSubmit)="onSubmit()" class="form-horizontal">
      <div class="form-group" hidden="true">
        <input type="text" hidden="true" class="form-control" id="id" name="id" />
      </div>
      <div class="form-group has-feedback" [class.has-success]="owner.get('firstName').dirty && owner.get('firstName').valid"
        [class.has-error]="owner.get('firstName').dirty && !owner.get('firstName').valid">
        <label for="firstName" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" formControlName="firstName" minlength="2" required id="firstName" name="firstName"
            #firstName>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="owner.get('firstName').valid"
            [class.glyphicon-remove]="!owner.get('firstName').valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="owner.get('firstName').dirty && owner.get('firstName').hasError('required')">First
            name is required</span>
          <span class="help-block" *ngIf="owner.get('firstName').dirty && owner.get('firstName').hasError('minlength')">First
            name must be at least 2 characters long</span>
        </div>
      </div>

      <div class="form-group has-feedback" [class.has-success]="owner.get('lastName').dirty && owner.get('lastName').valid"
        [class.has-error]="owner.get('lastName').dirty && !owner.get('lastName').valid">
        <label for="lastName" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" formControlName="lastName" minlength="2" required id="lastName" name="lastName" #lastName>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="owner.get('lastName').valid"
            [class.glyphicon-remove]="!owner.get('lastName').valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="owner.get('lastName').dirty && owner.get('lastName').hasError('required')">Last
            name is required</span>
          <span class="help-block" *ngIf="owner.get('lastName').dirty && owner.get('lastName').hasError('minlength')">Last
            name must be at least 2 characters long</span>
        </div>
      </div>


      <div class="form-group has-feedback" [class.has-success]="owner.get('address').dirty && owner.get('address').valid"
        [class.has-error]="owner.get('address').dirty && !owner.get('address').valid">
        <label for="address" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" formControlName="address" minlength="2" required id="address" name="address" #address>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="owner.get('address').valid"
            [class.glyphicon-remove]="!owner.get('address').valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="owner.get('address').dirty && owner.get('address').hasError('required')">Address
            name is required</span>
          <span class="help-block" *ngIf="owner.get('address').dirty && owner.get('address').hasError('minlength')">Address
            name must be at least 2 characters long</span>
        </div>
      </div>

      <div class="form-group has-feedback" [class.has-success]="owner.get('city').dirty && owner.get('city').valid"
        [class.has-error]="owner.get('city').dirty && !owner.get('city').valid">
        <label for="city" class="col-sm-2 control-label">city</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" formControlName="city" minlength="2" required id="city" name="city" #city>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="owner.get('city').valid"
            [class.glyphicon-remove]="!owner.get('city').valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="owner.get('city').dirty && owner.get('city').hasError('required')">City
            name is required</span>
          <span class="help-block" *ngIf="owner.get('city').dirty && owner.get('city').hasError('minlength')">City
            name must be at least 2 characters long</span>
        </div>
      </div>

      <div class="form-group has-feedback" [class.has-success]="owner.get('telephone').dirty && owner.get('telephone').valid"
        [class.has-error]="owner.get('telephone').dirty && !owner.get('telephone').valid">
        <label for="telephone" class="col-sm-2 control-label">telephone</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" formControlName="telephone" minlength="9" required id="telephone" name="telephone"
            #telephone>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="owner.get('telephone').valid"
            [class.glyphicon-remove]="!owner.get('telephone').valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="owner.get('telephone').dirty && owner.get('telephone').hasError('required')">Telephone
            name is required</span>
          <span class="help-block" *ngIf="owner.get('telephone').dirty && owner.get('telephone').hasError('minlength')">Telephone
            name must be at least 2 characters long</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default" type="button" (click)="gotoOwnersList()">Back</button>
          <button class="btn btn-default" type="submit" [disabled]="!owner.valid">Add Owner</button>
        </div>
      </div>
    </form>
  </div>
</div>
